<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MyBudgetApp | Expenditure Report</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<!-- CHART JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

	<!-- CUSTOM CSS -->
  <link rel="stylesheet" href="public/css/styles.css">
</head>

<body>

	<div class="jumbotron text-center">

		<div class="container">

			<h1 class="display-3 page-header">Expenditure for <%=selectedMonth%> <%=selectedYear%></h1>

			<table id="transactions">

				<tr>
					<th>Date</th>
					<th>Item</th>
					<th>Cost</th>
					<th>Category</th>
					<th>Retailer</th>
				</tr>

				<% entries.forEach(entry => { %>

				<tr>
					<td><%=entry.date.getDate()%> <%=selectedMonth%> <%=selectedYear%></td>
					<td><%=entry.item%></td>
					<td>£<%=entry.cost%></td>
					<td><%=entry.category%></td>
					<td><%=entry.retailer%></td>
				</tr>

				<% }) %>

			</table>

			<div class="budget-spent"><p>Percentage of budget used: <%=percentageBudgetSpent%>%</p></div>

			<hr>

			<div class="row chartBox">
				<div class="col-lg-12">
					<canvas id="expPieChart" width="12" height="5"></canvas>
				</div>
			</div>

			<a class="btn btn-dark btn-lg back-btn" href="/mainmenu" role="button">Back</a>

		</div>

	</div>

	<script src="public/js/expenditure.js"></script>

</body>

</html>
